# Don't self ignore
!.gitignore
!.tfignore

# Default project build output dirs
bin/
obj/
csx/

# jsoneditor
jsoneditor/

# Miscellaneous files to ignore
*.suo
*.user
*.sdf
*.opensdf
*.backup.*
*.DotSettings
*\rcf

.vscode/
