<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="OneDsCppSdk.Bindings.Android.Tests" android:installLocation="auto">
	<uses-sdk android:targetSdkVersion="29" android:minSdkVersion="23" />
	<application android:label="OneDsCppSdk.Bindings.Android.Tests"></application>
</manifest>