<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  IgnorableNamespaces="uap mp">

  <Identity
    Name="4c39abab-29aa-464a-a517-5ee12feb1770"
    Publisher="CN=maxgolov"
    Version="1.0.0.0" />

  <mp:PhoneIdentity PhoneProductId="4c39abab-29aa-464a-a517-5ee12feb1770" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

  <Properties>
    <DisplayName>SampleCsUWP</DisplayName>
    <PublisherDisplayName>maxgolov</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="SampleCsUWP.App">
      <uap:VisualElements
        DisplayName="SampleCsUWP"
        Square150x150Logo="Assets\Square150x150Logo.png"
        Square44x44Logo="Assets\Square44x44Logo.png"
        Description="SampleCsUWP"
        BackgroundColor="transparent">
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png"/>
        <uap:SplashScreen Image="Assets\SplashScreen.png" />
      </uap:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
  <Extensions>
    <Extension Category="windows.activatableClass.inProcessServer">
      <InProcessServer>
        <Path>Microsoft.Applications.Telemetry.Windows.UWP.dll</Path>
        <ActivatableClass ActivatableClassId="Microsoft.Applications.Telemetry.Windows.EventProperties" ThreadingModel="both" />
        <ActivatableClass ActivatableClassId="Microsoft.Applications.Telemetry.Windows.LogConfiguration" ThreadingModel="both" />
        <ActivatableClass ActivatableClassId="Microsoft.Applications.Telemetry.Windows.ECSClient" ThreadingModel="both" />
        <ActivatableClass ActivatableClassId="Microsoft.Applications.Telemetry.Windows.AggregatedMetricData" ThreadingModel="both" />
        <ActivatableClass ActivatableClassId="Microsoft.Applications.Telemetry.Windows.LogManager" ThreadingModel="both" />
        <ActivatableClass ActivatableClassId="Microsoft.Applications.Telemetry.Windows.PageActionData" ThreadingModel="both" />
      </InProcessServer>
    </Extension>
  </Extensions>
</Package>