name: C/C++ CI for iOS

on:
  push:
    branches:
    - master
    - main
    - dev
    - dev/*
    - release/*
    - buildme/*

  pull_request:
    branches:
    - master
    - main
    - dev

  schedule:
  - cron: 0 2 * * 1-5

jobs:
  build:
    runs-on: macOS-11
    strategy:
        matrix:
            config: [release, debug]
            simulator: ["'iPhone 8'", "'iPad Air (3rd generation)'"]
    steps:
    - uses: actions/checkout@v4
      with:
        submodules: 'true'
        fetch-depth: 1
      continue-on-error: true
    - name: build
      run: export IOS_DEPLOYMENT_TARGET=11.0 && ./build-tests-ios.sh ${{ matrix.config }} ${{ matrix.simulator }}
