name: spellcheck

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:

    - name: Checkout
      uses: actions/checkout@v2
      continue-on-error: true

    - name: install misspell
      run: |
        curl -L -o ./install-misspell.sh https://git.io/misspell
        sh ./install-misspell.sh

    - name: run misspell
      run: |
        ./bin/misspell -error ./**/*.md
        ./bin/misspell -error ./**/*.txt
        ./bin/misspell -error ./examples/**/*
        ./bin/misspell -error ./lib/**/*
        ./bin/misspell -error ./tests/**/*
