name: Build and test for Android (Mac)

on:
  push:
    branches:
    - master
    - release/*
    - buildme/*
    - maharrim/*
  pull_request:
    branches:
    - master
  schedule:
    - cron: '17 */4 * * *'
jobs:
  build:
    runs-on: macos-latest
    name: Android Unit Tests (Mac)
    steps:
    - name: Checkout
      uses: actions/checkout@v2
      with:
        submodules: 'true'
        token:  ${{ secrets.GIT_PULL_TOKEN }}
    - name: Build and Test
      uses: reactivecircus/android-emulator-runner@v2
      with:
        api-level: 29
        ndk: 21.3.6528147
        cmake: 3.10.2.4988404
        working-directory: ./lib/android_build
        script: ./testandlog
    - name: Upload
      if: ${{ always() }}
      uses: actions/upload-artifact@v2
      with:
        name: logcat
        path: ./lib/android_build/logcat.txt